

<style>
    .grow {
        text-align: center;
        background: grey;
    }
    .grow th {
        background: grey;
        text-align: center;
    }
</style>


<span style={{ backgroundColor: 'blue' }}> </span>